@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Produkt>

    <table class="table">
<thead>
	<tr>
		<th scope="col">ID</th>
		<th scope="col">Namn</th>
		<th scope="col">Tillverkare</th>
		<th scope="col">Pris</th>
		<th scope="col">Aktion: Redigera</th>
		<th scope="col">Aktion: Radera</th>
	</tr>
</thead>
@foreach(Produkt prd in Model)
{
	<tr>
		<td scope="col">ID</td>
		<td scope="col">@prd.produktnamn</td>
		<td scope="col">@prd.tillverkare</td>
		<td scope="col">@prd.pris</td>
		<td scope="col">@Html.ActionLink("Redigera","Redigera","Produkt", new {Id = prd.id})</td>
		<td scope="col">@Html.ActionLink("Radera","Radera","Produkt", new {Id = prd.id})</td>
	</tr>
}
</table>
